img.imglogo {
    width: 145px;
}

body{
    background-image: url('../images/background.png');
    background-size: 100%;
}

.redesSociales {
    margin-top: 20px;
    margin-left: 0;
    text-align: center;
}

footer ul li {
    display: inline;
    list-style: none;
    font-size: 1.3em;
}

footer ul li a {
    color: #9d9d9d;
}

.imgPuntos {
    width: 35px;
    margin-top: 0;
}